* {
  font-family: 'Public Sans', sans-serif;
  font-size: 100%;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  padding-top: 85px;
  overflow-x: hidden !important;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: $darkBlue;
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to top, $limeGreen, $brightCyan);
    border: 4px solid $darkBlue;
    border-radius: 10px;
  }

}

a {
  text-decoration: none !important;
}

.flex-between {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
}

.cta {
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  color: $white;
  border-radius: 50px;
  padding: 11.5px 36px;
  font-size: 0.9375rem;
  display: block;
  width: 171.55px;

  &:hover {
    color: $white;
    opacity: .6;
  }
}

@include breakpoint(sm) {

  .container,
  .container-sm {
    max-width: 540px;
  }
}

@include breakpoint(md) {

  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}

@include breakpoint(lg) {

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@include breakpoint(xl) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    // max-width: 1140px;
    max-width: 1185px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  color: $white;
  padding: 10px 0;
}

.attribution a {
  color: $darkBlue;
}